@model Facebook.ViewModels.AddNewPost
@using Facebook.Models;

@inject UserManager<ApplicationUser> userManager
@{string UserID = userManager.GetUserId(User); }
@{
    ViewData["Title"] = "Home Page";
}



<br />

<div class="card" style="width: 30rem;">
    <div class="card-header h-25">
        <h6>Creat Post</h6>
    </div>

    <form enctype="multipart/form-data" method="post"
          asp-controller="Home" asp-action="MakeNewPost">

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <textarea style=" resize: none;" asp-for="Text" placeholder="What's in your mind" class="col-12 border-0"></textarea>
            </li>
            <li class="list-group-item">
                <div class="row">

                    <select asp-for="Feel" class="border-0 bg-light pl-1 pr-1" style="outline:none; border-radius:20px; height:40px">
                        <option value="100" hidden>
                            &#128515; Feeling/Activity
                        </option>
                        <option value="0">&#129321; intersted </option>
                        <option value="1">&#128515; happy</option>
                        <option value="2">&#128532; sad </option>
                    </select>
                    <div class="custom-file col-5 border-0 bg-light ml-3" style="border-radius:20px">
                        <input asp-for="Photo" class="form-control custom-file-input border-0">
                        <label class="custom-file-label bg-light border-0" style="border-radius:20px"> <i class="far fa-cloud-upload"></i></label>
                    </div>
                    <div class="col-2">
                        <input type="submit" class="btn btn-primary" value="post" />
                    </div>
                </div>
            </li>
        </ul>


    </form>
</div>
<div class="mt-5">
    @foreach(var item in Model.mylist) {
        if(item.IsDeleted == false) {
            var photoPath = "~/images/" + item.Photo;
            var photoPorfile = "~/images/UserProfileImage/" + item.user.Photo;
            <form enctype="multipart/form-data" method="post"
                  asp-controller="Profile" asp-action="MakeNewPost">

                <div class="card border-success mb-3 " style="max-width: 30rem;">
                    <div class="card-header bg-transparent border-success">
                        @{
                            if(photoPorfile != null) {
                                <img src="@photoPorfile" asp-append-version="true"
                                     class="rounded-circle"
                                     height="50" width="50"
                                     data-holder-rendered="true" />
                            } else {
                                <img src="~/images/UserProfileImage/ProfileImage.jpg"
                                     class="rounded-circle"
                                     height="50" width="50"
                                     data-holder-rendered="true"
                                     asp-append-version="true" />
                            }
                        }

                        <label>
                            @Html.DisplayFor(modelItem => item.Date)
                        </label>
                        <label class="d-block">
                            @Html.DisplayFor(modelItem => item.user.FName)
                            @Html.DisplayFor(modelItem => item.user.LName)
                        </label>
                    </div>
                    <div class="card-body text-success">
                        <label> @Html.DisplayFor(modelItem => item.feel)</label>
                        @if(item.Photo != null) {
                            <img src="@photoPath" asp-append-version="true"
                                 class="d-block" height="150" width="200" />
                        }
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Text)</p>
                    </div>
                    <div class="card-footer bg-transparent border-success">
                        <div class="d-inline">
                            <div class="d-block">
                                <label> @Html.DisplayFor(modelItem => item.Likes)</label>
                            </div>
                            <div class="d-block">
                                @if(item.Likeslist?.FirstOrDefault(a => a.Users?.Id == UserID) == null) {
                                    <a asp-controller="Home" asp-action="Like" asp-route-id="@item.Id"
                                       class="btn btn-info">Like</a>
                                } else {

                                    <a asp-controller="Home" asp-action="Like" asp-route-id="@item.Id"
                                       class="btn btn-danger">UnLike</a>
                                }

                                <a asp-controller="comment" asp-action="index" asp-route-id="@item.Id"
                                   class="btn">Comment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        }
    }
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
}



